@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
}

.data-space{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
}

.titulo-segmento{
    background-color: black;
    color: white;
}